<div @stagger>
    <div class="py-16 px-gutter">
        <h1 @fadeInUp class="display-2 mt-0 mb-2 text-center">Welcome to the HCP Portal</h1>
        <h2 @fadeInUp class="max-w-2xl mx-auto mt-0 mb-4 text-center">LivaNova: Health innovation that matters</h2>
        <p class="subheading-2 text-primary text-center max-w-4xl mx-auto m-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
            mollitia animi, id est laborum et dolorum fuga.</p>
    </div>

    <div class="my-12 container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="start stretch" fxLayoutGap="24px">

        <div @fadeInUp class="card p-6" fxFlex fxLayout="column" fxLayoutAlign="start center">
            <div class="inline-block p-6 rounded-full text-white mx-auto flex items-center justify-center bg-primary-light">
                <ic-icon [icon]="icAssigment" size="48px"></ic-icon>
            </div>

            <h2 class="headline my-6">What?</h2>

            <p class="subheading-2 text-center">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                deserunt mollitia animi, id est laborum et dolorum fuga.</p>
        </div>

        <div @fadeInUp class="card p-6" fxFlex fxLayout="column" fxLayoutAlign="start center">
            <div class="inline-block p-6 rounded-full text-white mx-auto flex items-center justify-center bg-primary-light">
                <ic-icon [icon]="icStars" size="48px"></ic-icon>
            </div>

            <h2 class="headline my-6">Why?</h2>

            <p class="subheading-2 text-center">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                deserunt mollitia animi, id est laborum et dolorum fuga.</p>
        </div>

        <div @fadeInUp class="card p-6" fxFlex fxLayout="column" fxLayoutAlign="start center">
            <div class="inline-block p-6 rounded-full text-white mx-auto flex items-center justify-center bg-primary-light">
                <ic-icon [icon]="icBusinessCenter" size="48px"></ic-icon>
            </div>

            <h2 class="headline my-6">Who?</h2>

            <p class="subheading-2 text-center">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                deserunt mollitia animi, id est laborum et dolorum fuga.</p>

        </div>

    </div>

    <div @fadeInUp class="bg-card py-16 px-gutter footer">
        <h2 class="display-1 mt-0 mb-4 text-center">Still have questions?</h2>
        <h3 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</h3>

        <div class="mt-16 max-w-3xl mx-auto flex flex-col md:flex-row">
            <a class="text-center p-6 border rounded md:w-1/2 md:mx-2" routerLinkActive>
                <ic-icon [icon]="icPhoneInTalk" class="text-hint" size="42px"></ic-icon>
                <h3 class="title mb-0 mt-4">+1 (840) 423-3404</h3>
                <h4 class="subheading-2 m-0 text-hint">Call us anytime for a quick solution</h4>
            </a>

            <a class="text-center p-6 border rounded md:w-1/2 md:mx-2" routerLinkActive>
                <ic-icon [icon]="icMail" class="text-hint" size="42px"></ic-icon>
                <h3 class="title mb-0 mt-4">support@example.com</h3>
                <h4 class="subheading-2 m-0 text-hint">Send us a mail to resolve your issue</h4>
            </a>
        </div>
    </div>
</div>