<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 class="headline m-0" fxFlex="auto">New Patient PIQ Form</h2>
  <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<mat-dialog-content fxLayout="column">
  <mat-horizontal-stepper linear #stepper>
    <mat-step label="Physician Details" [stepControl]="physicianFormGroup" [editable]="true">
      <form [formGroup]="physicianFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Please select a Physician</mat-label>
          <mat-select
            disableOptionCentering
            formControlName="physicianSelect"
            (selectionChange)="physicianSelectionChange($event)"
            required
          >
            <mat-option value="null">Not Listed</mat-option>
            <mat-option value="DrPatel">Dr Patel</mat-option>
            <mat-option value="DrWatson">Dr Watson</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="physicianCreateMode">
          <h2 class="mb-1">Add Physician Details</h2>
          <mat-form-field appearance="fill" color="primary">
            <mat-label>Physician Name</mat-label>
            <input matInput type="text" formControlName="physicianName" required />
          </mat-form-field>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Physician Email</mat-label>
            <input matInput type="email" formControlName="physicianEmail" required />
          </mat-form-field>
          <mat-form-field appearance="fill" color="warn">
            <mat-label>Physician NPI Number</mat-label>
            <input matInput type="text" formControlName="physicianNpi" required />
          </mat-form-field>
        </ng-container>
      </form>
      <button matStepperNext color="primary" mat-raised-button type="button" [disabled]="!physicianFormGroup.valid">NEXT</button>
    </mat-step>
    <mat-step label="Surgery Details" [stepControl]="surgeonFormGroup" [editable]="true">
      <form [formGroup]="surgeonFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Please select a Surgeon</mat-label>
          <mat-select disableOptionCentering formControlName="surgeonSelect" (selectionChange)="surgeonSelectionChange($event)" required>
            <mat-option value="null">Not Listed</mat-option>
            <mat-option value="DrPatel">Dr Patel</mat-option>
            <mat-option value="DrWatson">Dr Watson</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="surgeonCreateMode">
          <h2 class="mb-1">Add Surgeon Details</h2>
          <mat-form-field appearance="fill" color="primary">
            <mat-label>Surgeon Name</mat-label>
            <input matInput type="text" formControlName="surgeonName" required />
          </mat-form-field>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Surgeon Email</mat-label>
            <input matInput type="email" formControlName="surgeonEmail" required />
          </mat-form-field>
          <mat-form-field appearance="fill" color="warn">
            <mat-label>Surgeon NPI Number</mat-label>
            <input matInput type="text" formControlName="surgeonNpi" required />
          </mat-form-field>
        </ng-container>
        <mat-form-field appearance="fill" color="warn">
          <mat-label>Implanting Hospital</mat-label>
          <input matInput type="text" formControlName="surgeonHospital" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Comments</mat-label>
          <textarea matInput formControlName="surgeonComments" required></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Surgery Date</mat-label>
          <input [matDatepicker]="surgeryDatepicker" matInput readonly formControlName="surgeryDatepicker" readonly required />
          <mat-datepicker-toggle [for]="surgeryDatepicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #surgeryDatepicker></mat-datepicker>
        </mat-form-field>
      </form>
      <button matStepperPrevious color="primary" mat-raised-button type="button">BACK</button>&nbsp;
      <button matStepperNext color="primary" mat-raised-button type="button" [disabled]="!surgeonFormGroup.valid">NEXT</button>
    </mat-step>
    <mat-step label="Patient Details" [stepControl]="patientFormGroup" [editable]="true">
      <form [formGroup]="patientFormGroup">
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="50%">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput formControlName="patientFirstName" required />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="patientLastName" required />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="100%">
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Patient Address</mat-label>
              <input matInput formControlName="patientAddress" type="text" required />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="50%">
            <mat-form-field>
              <mat-label>City</mat-label>
              <input matInput formControlName="patientCity" required />
            </mat-form-field>
          </div>
          <div fxFlex="25%">
            <mat-form-field>
              <mat-label>State</mat-label>
              <input matInput formControlName="patientState" required />
            </mat-form-field>
          </div>
          <div fxFlex="25%">
            <mat-form-field>
              <mat-label>Zip Code</mat-label>
              <input matInput formControlName="patientZipCode" required />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="100%">
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Patient Phone Number</mat-label>
              <input matInput type="tel" formControlName="patientPhoneNumber" required />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="100%">
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Patient Email</mat-label>
              <input matInput type="email" formControlName="patientEmail" required />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <p class="mt-0 mb-4 text-secondary">Sex:</p>
          <mat-radio-group formControlName="patientSex" fxLayout="row" fxLayoutGap="16px grid" fxFlexFill required>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="100%">
            <mat-form-field appearance="fill" color="accent">
              <mat-label>SSN</mat-label>
              <input matInput type="text" formControlName="patientSsn" required />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="100%">
            <mat-form-field>
              <mat-label>Date of Birth</mat-label>
              <input [matDatepicker]="dateOfBirthDatePicker" matInput readonly formControlName="patientDob" required />
              <mat-datepicker-toggle [for]="dateOfBirthDatePicker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #dateOfBirthDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="100%">
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Guardian / Contact Name</mat-label>
              <input matInput type="text" formControlName="guardianName" required />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="100%">
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Guardian / Contact Email</mat-label>
              <input matInput type="email" formControlName="guardianEmail" required />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="100%">
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Group Home Name</mat-label>
              <input matInput type="text" formControlName="groupHomeName" required />
            </mat-form-field>
          </div>
        </div>
      </form>
      <button matStepperPrevious color="primary" mat-raised-button type="button">BACK</button>&nbsp;
      <button matStepperNext color="primary" mat-raised-button type="button" [disabled]="!patientFormGroup.valid">NEXT</button>
    </mat-step>
    <mat-step label="Insurance Details" [stepControl]="insuranceFormGroup" [editable]="true">
      <form [formGroup]="insuranceFormGroup">
        <div fxLayout="row" fxLayoutGap="16px grid" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="50%">
            <h3>INSURER</h3>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Name of Insurance Co.</mat-label>
              <input matInput type="text" formControlName="insurerNamePrimary" required />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Phone of Insurance Co.</mat-label>
              <input matInput type="tel" formControlName="insurerPhoneNumberPrimary" required />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Subscriber's Name (if different)</mat-label>
              <input matInput type="text" formControlName="insurerSubscriberNamePrimary" />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Employee / Plan Name</mat-label>
              <input matInput type="text" formControlName="insurerEmployeePlanNamePrimary" required />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Policy Number</mat-label>
              <input matInput type="text" formControlName="insurerPolicyNumberPrimary" required />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Group Number</mat-label>
              <input matInput type="text" formControlName="insurerGroupNumberPrimary" required />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Provider Insurer ID Number</mat-label>
              <input matInput type="text" formControlName="insurerProviderIdNumberPrimary" required />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <h3>SECONDARY INSURER</h3>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Name of Insurance Co.</mat-label>
              <input matInput type="text" formControlName="insurerNameSecondary" />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Phone of Insurance Co.</mat-label>
              <input matInput type="tel" formControlName="insurerPhoneNumberSecondary" />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Subscriber's Name (if different)</mat-label>
              <input matInput type="text" formControlName="insurerSubscriberNameSecondary" />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Employee / Plan Name</mat-label>
              <input matInput type="text" formControlName="insurerEmployeePlanNameSecondary" />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Policy Number</mat-label>
              <input matInput type="text" formControlName="insurerPolicyNumberSecondary" />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Group Number</mat-label>
              <input matInput type="text" formControlName="insurerGroupNumberSecondary" />
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Provider Insurer ID Number</mat-label>
              <input matInput type="text" formControlName="insurerProviderIdNumberSecondary" />
            </mat-form-field>
          </div>
        </div>
      </form>
      <button matStepperPrevious color="primary" mat-raised-button type="button">BACK</button>&nbsp;
      <button matStepperNext color="primary" mat-raised-button type="button" [disabled]="!insuranceFormGroup.valid">NEXT</button>
    </mat-step>
    <mat-step label="Principal Diagnosis" [stepControl]="principalDiagnosisFormGroup" [editable]="true">
      <form [formGroup]="principalDiagnosisFormGroup">
        <mat-radio-group (change)="diagnosisRadioChange($event)" formControlName="diagnosisRadio">
          <mat-radio-button value="G40211"
            >G40.211 Localization-related (focal) (partial) symptomatic epilepsy and epileptic syndromes with complex partial seizures,
            intractable, with status epilepticus
          </mat-radio-button>
          <mat-radio-button value="G40219"
            >G40.219 Localization-related (focal) (partial) symptomatic epilepsy and epileptic syndromes with complex partial seizures,
            intractable, without status epilepticus
          </mat-radio-button>
          <mat-radio-button value="G40011"
            >G40.011 Localization-related (focal) (partial) idiopathic epilepsy and epileptic syndromes with seizures of localized onset,
            intractable, with status
          </mat-radio-button>
          <mat-radio-button value="G40019"
            >G40.019 Localization-related (focal) (partial) idiopathic epilepsy and epileptic syndromes with seizures of localized onset,
            intractable, without status epilepticus
          </mat-radio-button>
          <mat-radio-button value="G40019"
            >G40.111 (Attacks without alteration of conscious) Localization-related (focal) (partial) symptomatic epilepsy and epileptic
            syndromes with simple partial seizures, intractable, with status epilepticus
          </mat-radio-button>
          <mat-radio-button value="G40119"
            >G40.119 (Attacks without alteration of conscious) Localization-related (focal) (partial) symptomatic epilepsy and epileptic
            syndromes with simple partial seizures, intractable, without status epilepticus
          </mat-radio-button>
          <mat-radio-button value="null">Other </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="fill" *ngIf="customDiagnosis">
          <mat-label>Please describe</mat-label>
          <input matInput type="text" formControlName="diagnosisInput" required />
        </mat-form-field>
      </form>
      <button matStepperPrevious color="primary" mat-raised-button type="button">BACK</button>&nbsp;
      <button matStepperNext color="primary" mat-raised-button type="button" [disabled]="!principalDiagnosisFormGroup.valid">NEXT</button>
    </mat-step>
  </mat-horizontal-stepper>

  <!-- <form (ngSubmit)="save()" [formGroup]="form">
    <mat-horizontal-stepper linear #stepper formArrayName="formArray">

      <mat-step label="Principal Diagnosis">
        <p class="mt-0 mb-4 text-secondary">
          Allow the user to slide toggle an option or a value. You can either click or you can drag & drop the slide to change its state.
        </p>

        <button matStepperPrevious color="primary" mat-raised-button type="button">BACK</button>&nbsp;
        <button color="primary" mat-raised-button type="button">SUBMIT</button>
      </mat-step>
    </mat-horizontal-stepper>
  </form> -->
  <!-- TODO -->
  <!-- <div class="flex flex-col sm:flex-row">
      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Last Name</mat-label>
        <input cdkFocusInitial formControlName="lastName" matInput />

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Street</mat-label>
      <input formControlName="street" matInput />

      <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Zipcode</mat-label>
        <input formControlName="zipcode" matInput />

        <mat-icon [icIcon]="icMyLocation" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>City</mat-label>
        <input formControlName="city" matInput />

        <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Phone Number</mat-label>
      <input formControlName="phoneNumber" matInput />

      <mat-icon [icIcon]="icPhone" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Notes</mat-label>
      <textarea formControlName="notes" matInput></textarea>
    </mat-form-field> -->
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button" disabled>CANCEL</button>
  <button *ngIf="isCreateMode()" color="primary" mat-button type="submit" disabled>CREATE PATIENT</button>
  <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit" disabled>UPDATE PATIENT</button>
</mat-dialog-actions>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item disabled>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item disabled>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item disabled>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
