.mat-form-field-label {
    font-size: 20px !important;
}

.mat-select {
    padding: 1em 0;
}

input.mat-input-element,
mat-select {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
    margin-top: 1em;
}