// body {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-height: 100vh;
//     overflow-x: hidden;
//     background-color: #f8f8f8;
// }
h1 {
    color: #6d1f77;
}

::selection {
    color: #fff;
    background: #6d1f77;
}

.container {
    width: 770px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}

.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer {
    width: 100%;
    overflow-x: hidden;
}

.container .form-outer form {
    /*display: flex;
     width: 400%; */
    width: 100%;
}

// .form-outer form .page {
//     width: 25%;
//     transition: margin-left 0.3s ease-in-out;
// }
.form-outer form .page .title {
    color: #ff5c39;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .subtitle {
    /* color: #ff5c39; */
    font-size: 22px;
    font-weight: 500;
}

.form-outer form .page .field {
    width: 700px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

form .page .field .label,
form .page .field label {
    position: absolute;
    top: -22px;
}

form .page .field input,
form .page .field select,
form .page .field textarea {
    height: 100%;
    width: 100%;
    border: 2px solid #999;
    /* border-radius: 5px; */
    padding-left: 15px;
    font-size: 18px;
}

form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
}

form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #6d1f77;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .field button:hover {
    background: #000;
}

form .page .btns button {
    margin-top: -20px!important;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next {
    margin-left: 3px;
}

.container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

.container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.container .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
}

.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.progress-bar .step .bullet.active {
    border-color: #ff5c39;
    background: #ff5c39;
}

.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 11px;
    left: 25px;
    height: 3px;
    width: 115px;
    background: #262626;
}

.progress-bar .step .bullet.active:after {
    background: #ff5c39;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    color: #ff5c39;
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 77%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}


/* Add New Physician / Surgeon */

.addPhysician,
.addSurgeon {
    background-color: #f8f8f8;
    padding: 30px;
}

.addPhysician input,
.addSurgeon input {
    width: 88% !important;
}


/* Checkbox style */


/* The container */

.checkbox_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

label.checkbox_container {
    font-weight: normal !important;
    text-align: initial;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.checkbox_container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.checkbox_container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkbox_container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkbox_container.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}